header {
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
    padding: 0rem 2rem;
    position: relative;
    top: 0;
    transition: all 0.5s ease-in-out;

    // &.active {
    //     background-color: #efeff1;
    //     animation: smoothScroll 1s forwards;
    //     height: 100px;
    //     box-shadow: 5px 5px 5px #00000027;
    //     img {
    //         max-height: 40px;
    //     }
    // }
    img {
        max-height: 80px;
        position: absolute;
        transition: all 0.1s ease-in-out;
    }
    button {
        margin-left: auto;
    }
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
