<mat-drawer-container class="contactSiderbar" hasBackdrop="true">
    <mat-drawer #drawer mode="over">
        <button (click)="drawer.toggle()" class="h-8 w-8 rounded-full bg-red-500 text-white">X</button>
        <app-contactform></app-contactform>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container" [ngClass]="{ 'overflow-hidden' : showFiller}">
            <app-header [inputSideNav]="drawer"></app-header>
            <div class="banner-select-div">
                <div class="left-addBanner">
                    <img src="/assets/ad-large.png" alt="add banner">
                    <img src="/assets/ad-small.png" alt="add banner">
                </div>
                <div>
                    <app-text></app-text>
                    <app-countryselect></app-countryselect>
                </div>
                <div class="rigth-addBanner">
                    <img src="/assets/ad-large.png" alt="add banner">
                    <img src="/assets/ad-small.png" alt="add banner">
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>